@use "tools.scss";

body {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: var(--container-padding);
  background-color: var(--color-black-pearl-50);

  @include tools.container-width;

}

main {
  display: flex;
  flex-direction: column;

  @include tools.container-width;
}

