:root {
  --color-white: #FFF;
  --color-black-pearl-50: #E4EBEE;
  --color-black-pearl-400: #7799AC;
  --color-black-pearl-700: #3C5562;
  --color-black-pearl-900: #1B262C;

  --color-aquarius-900: #0D2E32;
  --color-aquarius-100: #C5EAF0;

  --container-max-width: 900px;
}